<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Collect.Performance.Stats" value="true" />
    </settings>
    <pipelines>
      <mvc.resultExecuted>
        <processor type="Skillcore.Stats.Processors.SaveApiStats, Skillcore.Stats" />
      </mvc.resultExecuted>
      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Skillcore.Stats.Processors.ExecuteRenderer, Skillcore.Stats</patch:attribute>
        </processor> 
      </mvc.renderRendering>
      <httpRequestBegin>
        <processor 
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.BeginDiagnostics, Sitecore.Kernel']" 
          type="Skillcore.Stats.Processors.InitApiStats, Skillcore.Stats" />
      </httpRequestBegin>
      <httpRequestEnd>
        <processor 
          patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.EndDiagnostics, Sitecore.Kernel']" 
          type="Skillcore.Stats.Processors.SaveOutputCacheStats, Skillcore.Stats" />
      </httpRequestEnd>
    </pipelines>
  </sitecore>
</configuration>